.fourth-block {
  padding: 0 60px;
  position: relative;
  margin-top: 45px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  font-family: "Inter";
}

.mixed-head {
  display: flex;
  margin-bottom: 16px;
}

.mixed {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 27px;
}

.grid-headsets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  z-index: 3;
  margin-bottom: 5px;
}

.pages {
  display: flex;
}

.semi-left-1 {
  position: absolute;
  bottom: -140px;
  left: 0;
  z-index: 0;
  filter: blur(50px);
}

.select {
  position: absolute;
  right: 60px;
  display: flex;
  max-width: 8em;
  min-width: 103px;
  width: 100%;
  height: 2em;
  line-height: 2;
  background: #5c6664;
  border-radius: 0.25em;
  border: 1px solid #5c6664;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #bc3cd8;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  background: #000000;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}

@media (max-width: 550px) {
  .grid-headsets {
    grid-template-columns: 1fr;
    column-gap: 0;
    overflow: auto;
    max-height: 900px;
    margin-bottom: 40px;
  }
}
