.menu {
  max-width: 300px;
  width: 100%;
  height: 150px;
  background: #000000;
  border: #451650 solid 1px;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  z-index: 10;
  position: absolute;
  right: 55px;
  top: 68%;
}

.menu-open {
  display: block;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  cursor: pointer;
}

.menu-header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.menu-close-btn {
  cursor: pointer;
  border-radius: 6px;
}

.menu-close-btn:hover {
  background-color: rgb(32, 32, 32);
}

.menu-main {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.menu-btn {
  cursor: pointer;
  border-radius: 6px;
}

.menu-btn:not(:last-child) {
  margin-bottom: 2px;
}

.menu-btn:hover {
  background-color: rgb(32, 32, 32);
}

@media (max-width: 530px) {
  .menu {
    max-width: 170px;
    right: 2px;
    top: 12%;
    background: rgb(22 22 22);
  }

  .menu-close-btn img {
    transform: rotate(-90deg);
  }

  .menu-header {
    display: flex;
    flex-direction: row-reverse;
  }

  .menu-btn {
    align-self: flex-end;
  }
}
